src/main/resources/xsd/project/Project_11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (C) 2016 Alexander Christian <alex(at)root1.de>. All rights reserved.
 * 
 * This file is part of KnxProjParser.
 *
 *   KnxProjParser is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   KnxProjParser is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with KnxProjParser.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://knx.org/xml/project/11" 
            targetNamespace="http://knx.org/xml/project/11" 
            elementFormDefault="qualified" >

    <xsd:element name="KNX" >
        <xsd:complexType>
            <xsd:choice>
                <xsd:element name="Project" type="tns:Project"/>
                <xsd:element name="ManufacturerData" type="tns:ManufacturerData"/>
            </xsd:choice>
            <xsd:attribute name="CreatedBy" type="xsd:string"/>
            <xsd:attribute name="ToolVersion" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="Project">
        <xsd:choice>
            <xsd:element name="ProjectInformation" type="tns:ProjectInformation"/>
            <xsd:element name="Installations" type="tns:Installations"/>
        </xsd:choice>
        <xsd:attribute name="Id" type="xsd:ID"/>
    </xsd:complexType>
    <xsd:complexType name="ProjectInformation">
        <xsd:all>
            <xsd:element name="HistoryEntries" type="tns:HistoryEntries" minOccurs="0"/>
        </xsd:all>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="LastModified" type="xsd:dateTime"/>
        <xsd:attribute name="ProjectStart" type="xsd:dateTime"/>
        <xsd:attribute name="ProjectId" type="xsd:string"/>
        <xsd:attribute name="ProjectTracingLevel" type="xsd:string"/>
        <xsd:attribute name="Hide16BitGroupsFromLegacyPlugins" type="xsd:string"/>
        <xsd:attribute name="GroupAddressStyle" type="xsd:string"/>
        <xsd:attribute name="CompletionStatus" type="xsd:string"/>
        <xsd:attribute name="CodePage" type="xsd:string"/>
        <xsd:attribute name="ProjectNumber" type="xsd:string"/>
        <xsd:attribute name="ContractNumber" type="xsd:string"/>
        <xsd:attribute name="ProjectPassword" type="xsd:string"/>
        <xsd:attribute name="Comment" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Installations">
        <xsd:sequence>
            <xsd:element name="Installation" type="tns:Installation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Installation">
        <xsd:sequence>
            <xsd:element name="Topology" type="tns:Topology"/>
            <xsd:element name="Buildings" type="tns:Buildings"/>
            <xsd:element name="GroupAddresses" type="tns:GroupAddresses"/>
            <xsd:element name="Trades" type="tns:Trades" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="InstallationId" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="BCUKey" type="xsd:string"/>
        <xsd:attribute name="DefaultLine" type="xsd:string"/>
        <xsd:attribute name="IPRoutingMulticastAddress" type="xsd:string"/>
        <xsd:attribute name="SplitType" type="xsd:string"/>
        <xsd:attribute name="CompletionStatus" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Topology">
        <xsd:sequence maxOccurs="1" minOccurs="1">
            <xsd:element name="Area" type="tns:Area" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="UnassignedDevices" type="tns:UnassignedDevices" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="UnassignedDevices">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Buildings">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Trades">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>    
    
    <xsd:complexType name="GroupAddresses">
        <xsd:sequence>
            <xsd:element name="GroupRanges" type="tns:GroupRanges"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GroupRanges">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="GroupRange" type="tns:GroupRange"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GroupRange">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="GroupRange" type="tns:GroupRange"/>
            <xsd:element name="GroupAddress" type="tns:GroupAddress"/>
        </xsd:choice>
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="RangeStart" type="xsd:int"/>
        <xsd:attribute name="RangeEnd" type="xsd:int"/>
        <xsd:attribute name="Description" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="GroupAddress">
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="Address" type="xsd:int"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
        <xsd:attribute name="Comment" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Area">
        <xsd:sequence>
            <xsd:element name="Line" type="tns:Line" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="Address" type="xsd:string"/>
        <xsd:attribute name="CompletionStatus" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Line">
        <xsd:sequence minOccurs="0" maxOccurs="1">
            <xsd:element name="DeviceInstance" type="tns:DeviceInstance" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AdditionalGroupAddresses" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="GroupAddress" type="tns:GroupAddress" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BusAccess" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="Name" type="xsd:string"/>
                    <xsd:attribute name="Edi" type="xsd:string"/>
                    <xsd:attribute name="Parameter" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="Address" type="xsd:string"/>
        <xsd:attribute name="MediumTypeRefId" type="xsd:string"/>
        <xsd:attribute name="DomainAddress" type="xsd:string"/>
        <xsd:attribute name="DomainAddressIsChecked" type="xsd:string"/>
        <xsd:attribute name="CompletionStatus" type="xsd:string"/>
        <xsd:attribute name="IPRoutingMulticastAddress" type="xsd:string"/>
        <xsd:attribute name="MulticastTTL" type="xsd:string"/>
        <xsd:attribute name="Comment" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="DeviceInstance">
        <xsd:sequence>
            <xsd:element name="ParameterInstanceRefs" type="tns:ParameterInstanceRefs" minOccurs="0"/>
            <xsd:element name="ComObjectInstanceRefs" type="tns:ComObjectInstanceRefs" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="ProductRefId" type="xsd:string"/>
        <xsd:attribute name="Hardware2ProgramRefId" type="xsd:string"/>
        <xsd:attribute name="Address" type="xsd:string"/>
        <xsd:attribute name="LastModified" type="xsd:dateTime"/>
        <xsd:attribute name="CompletionStatus" type="xsd:string"/>
        <xsd:attribute name="IndividualAddressLoaded" type="xsd:string"/>
        <xsd:attribute name="ApplicationProgramLoaded" type="xsd:string"/>
        <xsd:attribute name="ParametersLoaded" type="xsd:string"/>
        <xsd:attribute name="CommunicationPartLoaded" type="xsd:string"/>
        <xsd:attribute name="MediumConfigLoaded" type="xsd:string"/>
        <xsd:attribute name="IsCommunicationObjectVisibilityCalculated" type="xsd:string"/>
        <xsd:attribute name="Broken" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="LastDownload" type="xsd:string"/>
        <xsd:attribute name="LoadedImage" type="xsd:string"/>
        <xsd:attribute name="CheckSums" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
        <xsd:attribute name="Comment" type="xsd:string"/>
        <xsd:attribute name="InstallationHints" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterInstanceRefs">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComObjectInstanceRefs">
        <xsd:sequence>
            <xsd:element name="ComObjectInstanceRef" type="tns:ComObjectInstanceRef" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComObjectInstanceRef">
        <xsd:sequence>
            <xsd:element name="Connectors" type="tns:Connectors" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="RefId" type="xsd:string"/>
        <xsd:attribute name="IsActive" type="xsd:string"/>
        <!-- only set, when user has configured an own DPT in ETS for this ComObject -->
        <xsd:attribute name="DatapointType" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
        <xsd:attribute name="ReadFlag" type="xsd:string"/>
        <xsd:attribute name="TransmitFlag" type="xsd:string"/>
        <xsd:attribute name="ReadOnInitFlag" type="xsd:string"/>
        <xsd:attribute name="UpdateFlag" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Connectors">
        <xsd:sequence>
            <xsd:element name="Send" type="tns:GroupAddressReference" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Receive" type="tns:GroupAddressReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GroupAddressReference">
        <xsd:attribute name="GroupAddressRefId" type="xsd:string"/>
    </xsd:complexType>
    
    <!-- M-.....xml -->
    <xsd:complexType name="ManufacturerData">
        <xsd:sequence>
            <xsd:element name="Manufacturer" type="tns:Manufacturer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Manufacturer">
        <xsd:sequence>
            <xsd:element name="ApplicationPrograms" type="tns:ApplicationPrograms"/>
            <xsd:element name="Languages" type="tns:Languages"/>
        </xsd:sequence>
        <xsd:attribute name="RefId" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ApplicationPrograms">
        <xsd:sequence>
            <xsd:element name="ApplicationProgram" type="tns:ApplicationProgram"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ApplicationProgram">
        <xsd:sequence>
            <xsd:element name="Static" type="tns:Static"/>
            <xsd:element name="Dynamic" type="tns:Dynamic"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="ApplicationNumber" type="xsd:string"/>
        <xsd:attribute name="ApplicationVersion" type="xsd:string"/>
        <xsd:attribute name="ProgramType" type="xsd:string"/>
        <xsd:attribute name="MaskVersion" type="xsd:string"/>
        <xsd:attribute name="LoadProcedureStyle" type="xsd:string"/>
        <xsd:attribute name="PeiType" type="xsd:string"/>
        <xsd:attribute name="HelpFile" type="xsd:string"/>
        <xsd:attribute name="DefaultLanguage" type="xsd:string"/>
        <xsd:attribute name="DynamicTableManagement" type="xsd:string"/>
        <xsd:attribute name="Linkable" type="xsd:string"/>
        <xsd:attribute name="MinEtsVersion" type="xsd:string"/>
        <xsd:attribute name="PreEts4Style" type="xsd:string"/>
        <xsd:attribute name="NonRegRelevantDataVersion" type="xsd:string"/>
        <xsd:attribute name="Hash" type="xsd:string"/>
        <xsd:attribute name="ConvertedFromPreEts4Data" type="xsd:string"/>
        <xsd:attribute name="Broken" type="xsd:string"/>
        <xsd:attribute name="IPConfig" type="xsd:string"/>
        <xsd:attribute name="AdditionalAddressesCount" type="xsd:string"/>
        <xsd:attribute name="DownloadInfoIncomplete" type="xsd:string"/>
        <xsd:attribute name="CreatedFromLegacySchemaVersion" type="xsd:string"/>
        <xsd:attribute name="VisibleDescription" type="xsd:string"/>
        <xsd:attribute name="OriginalManufacturer" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Static">
        <xsd:all>
            <xsd:element name="Code" type="tns:Code"/>
            <xsd:element name="ParameterTypes" type="tns:ParameterTypes"/>
            <xsd:element name="Parameters" type="tns:Parameters"/>
            <xsd:element name="ParameterRefs" type="tns:ParameterRefs"/>
            <xsd:element name="ComObjectTable" type="tns:ComObjectTable" minOccurs="0"/>
            <xsd:element name="ComObjectRefs" type="tns:ComObjectRefs" minOccurs="0"/>
            <xsd:element name="AddressTable" type="tns:AddressTable" minOccurs="0"/>
            <xsd:element name="AssociationTable" type="tns:AssociationTable" minOccurs="0"/>
            <xsd:element name="LoadProcedures" type="tns:LoadProcedures" minOccurs="0"/>
            <xsd:element name="Extension" type="tns:Extension" minOccurs="0"/>
            <xsd:element name="Options" type="tns:Options" minOccurs="0"/>
            <xsd:element name="DeviceCompare" type="tns:DeviceCompare" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>
    
    <!-- parameter dependencies-->
    <xsd:complexType name="Dynamic">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    

    <xsd:complexType name="Code">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ParameterTypes">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Parameters">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ParameterRefs">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ComObjectTable">
        <xsd:sequence>
            <xsd:element name="ComObject" type="tns:ComObject" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="CodeSegment" type="xsd:string"/>
        <xsd:attribute name="Offset" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ComObjectRefs">
        <xsd:sequence>
            <xsd:element name="ComObjectRef" minOccurs="0" maxOccurs="unbounded" type="tns:ComObjectRef"/>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="AddressTable">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="CodeSegment" type="xsd:string"/>
        <xsd:attribute name="Offset" type="xsd:string"/>
        <xsd:attribute name="MaxEntries" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="AssociationTable">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="CodeSegment" type="xsd:string"/>
        <xsd:attribute name="Offset" type="xsd:string"/>
        <xsd:attribute name="MaxEntries" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="LoadProcedures">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Extension">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="RequiresExternalSoftware" type="xsd:string"/>
        <xsd:attribute name="EtsDownloadPlugin" type="xsd:string"/>
        <xsd:attribute name="EtsUiPlugin" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Options">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="PreferPartialDownloadIfApplicationLoaded" type="xsd:string"/>
        <xsd:attribute name="EasyCtrlModeModeStyleEmptyGroupComTables" type="xsd:string"/>
        <xsd:attribute name="SetObjectTableLengthAlwaysToOne" type="xsd:string"/>
        <xsd:attribute name="TextParameterZeroTerminate" type="xsd:string"/>
        <xsd:attribute name="ParameterByteOrder" type="xsd:string"/>
        <xsd:attribute name="LegacyNoPartialDownload" type="xsd:string"/>
        <xsd:attribute name="LegacyNoMemoryVerifyMode" type="xsd:string"/>
        <xsd:attribute name="LegacyNoOptimisticWrite" type="xsd:string"/>
        <xsd:attribute name="LegacyDoNotReportPropertyWriteErrors" type="xsd:string"/>
        <xsd:attribute name="LegacyNoBackgroundDownload" type="xsd:string"/>
        <xsd:attribute name="LegacyDoNotCheckManufacturerId" type="xsd:string"/>
        <xsd:attribute name="LegacyAlwaysReloadAppIfCoVisibilityChanged" type="xsd:string"/>
        <xsd:attribute name="LegacyNeverReloadAppIfCoVisibilityChanged" type="xsd:string"/>
        <xsd:attribute name="LegacyDoNotSupportUndoDelete" type="xsd:string"/>
        <xsd:attribute name="LegacyAllowPartialDownloadIfAp2Mismatch" type="xsd:string"/>
        <xsd:attribute name="LegacyKeepObjectTableGaps" type="xsd:string"/>
        <xsd:attribute name="PartialDownloadOnlyVisibleParameters" type="xsd:string"/>
        <xsd:attribute name="LegacyProxyCommunicationObjects" type="xsd:string"/>
        <xsd:attribute name="DeviceInfoIgnoreRunState" type="xsd:string"/>
        <xsd:attribute name="DeviceInfoIgnoreLoadedState" type="xsd:string"/>
        <xsd:attribute name="DeviceCompareAllowCompatibleManufacturerId" type="xsd:string"/>
        <xsd:attribute name="LineCoupler0912NewProgrammingStyle" type="xsd:string"/>
        <xsd:attribute name="TextParameterEncodingSelector" type="xsd:string"/>
        <xsd:attribute name="TextParameterEncoding" type="xsd:string"/>
        <xsd:attribute name="Comparable" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Languages">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComObject">
        <xsd:attribute name="Id" type="xsd:string"/>
        <xsd:attribute name="DatapointType" type="xsd:string"/>
        <xsd:attribute name="FunctionText" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
        <xsd:attribute name="Number" type="xsd:string"/>
        <xsd:attribute name="ObjectSize" type="xsd:string"/>
        <xsd:attribute name="Priority" type="xsd:string"/>
        <xsd:attribute name="CommunicationFlag" type="xsd:string"/>
        <xsd:attribute name="ReadFlag" type="xsd:string"/>
        <xsd:attribute name="ReadOnInitFlag" type="xsd:string"/>
        <xsd:attribute name="TransmitFlag" type="xsd:string"/>
        <xsd:attribute name="UpdateFlag" type="xsd:string"/>
        <xsd:attribute name="WriteFlag" type="xsd:string"/>
        <xsd:attribute name="Disabled" type="xsd:string"/>
        <xsd:attribute name="Text" type="xsd:string"/>
        <xsd:attribute name="VisibleDescription" type="xsd:string"/>
    </xsd:complexType>
    
    <!--    
        <xsd:simpleType name="ObjectSize">
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="1 Byte"/>
                <xsd:enumeration value="4 Bit"/>
            </xsd:restriction>
        </xsd:simpleType>
    -->
    <xsd:complexType name="ComObjectRef">
        <xsd:attribute name="Id" type="xsd:string" use="required"/>
        <xsd:attribute name="RefId" type="xsd:string" use="required"/>
        <xsd:attribute name="DatapointType" type="xsd:string"/>
        <xsd:attribute name="FunctionText" type="xsd:string"/>
        <xsd:attribute name="ObjectSize" type="xsd:string"/>
        <xsd:attribute name="Tag" type="xsd:string"/>
        <xsd:attribute name="Text" type="xsd:string"/>
        <xsd:attribute name="VisibleDescription" type="xsd:string"/>
        <xsd:attribute name="ReadFlag" type="xsd:string"/>
        <xsd:attribute name="UpdateFlag" type="xsd:string"/>
        <xsd:attribute name="WriteFlag" type="xsd:string"/>
        <xsd:attribute name="TransmitFlag" type="xsd:string"/>
        <xsd:attribute name="Name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HistoryEntries">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeviceCompare">
        <!-- ignore any content of this Element -->
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:any processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
